<!doctype html>
<!-- CONSENT -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/bootstrap-5.1.3.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>{{ "site_title" | _(lang=lang) }} - {{ "consent_title" | _(lang=lang) }}</title>
    </head>
    <body>
        <div class="mask" style="background: url(img/background.jpg) no-repeat center center fixed; background-size: cover;">
            <div id="background" class="d-flex align-content-center flex-wrap p-5" style="height: 100vh; min-height: 1000px; background-color: rgba(0, 0, 0, 0.8);">

                <div id="dialog" class="container p-4 bg-white rounded-3" style="min-width: 300px; max-width: 600px;">
                    <form method="post" action="consent">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                        <input type="hidden" name="consent_challenge" value="{{ consent_challenge }}" />
                        <h1 class="text-center">{{ "site_title" | _(lang=lang) }} - {{ "consent_title" | _(lang=lang) }}</h1>
                        <hr />
                        <div class="alert alert-danger" role="alert">
                            <h3 class="text-center">{{ client }}</h3>
                            <h5 class="text-center">{{ "consent_access_account" | _(lang=lang) }}:<b> {{ subject }}</b></h5>
                        </div>
                        <div class="py-1 text-center"><b>{{ "consent_permissions_header" | _(lang=lang) }}</b></div>
                        <div class="text-center">{{ "consent_review_header" | _(lang=lang) }}</div>
                        <hr />
                        <div>
                            <ul>
                                {% for scope_key, scope_value in scopes %}
                                <li><b>{{ scope_key }}</b></li>
                                <ul>
                                    {% for claim in scope_value %}
                                    <li>{{ claim }}</li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                            </ul>
                        </div>
                        <hr />
                        <div class="mb-3">
                            <p class="text-center">
                                <input type="checkbox" class="form-check-input" id="remember_consent" name="remember_consent" value="true" {% if remember_me %}checked{% endif %}>
                                <label class="form-check-label px-2" for="remember_consent">{{ "consent_remember_label" | _(lang=lang) }}</label>
                            </p>
                        </div>
                        <div class="alert alert-info" role="info">
                            <div class="text-center">{{ "consent_permissions_footer" | _(lang=lang) }}</div>
                        </div>
                        <hr />
                        <div class="px-2 row justify-content-center">
                            <button name="consent" value='{{ "consent_submit" | _(lang=lang) }}' type="submit" class="col btn btn-success m-1 order-2"><b>{{ "consent_submit" | _(lang=lang) }}</b></button>
                            <button name="cancel" value='{{ "consent_cancel" | _(lang=lang) }}' type="submit" class="col btn btn-danger m-1 order-1">{{ "consent_cancel" | _(lang=lang) }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="js/bootstrap-5.1.3.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="js/resize.js"></script>
    </body>
</html>
